<?xml version='1.0' encoding='utf-8'?>
<widget id="com.softwareshd.boletoatualizado" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Doctum Analytics</name>
    <description>
        Analises gerenciais doctum
    </description>
    <author email="contato@doctum.edu.br" href="http://www.doctum.edu.br">
        Flux Softwares
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
